.Mainbox { 
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.Title{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 141px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.Backicon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 28px;
    align-items: center;
    top: 28px;
}

.Searchicon{
    position: absolute;
    color: #FF897B;
    width: 375px;
    height: 87px;
    left: 320px;
    align-items: center;
    top: 28px;
}

.Shareicon{
    position: absolute;
    width: 50px;
    height: 100px;
    left: 63px;
    top: 240px;
    z-index: 1;
}

.lenticon{
    position: absolute;
    width: 50px;
    height: 100px;
    left: 130px;
    top: 240px;
    z-index: 1;
}

.qnaicon{
    position: absolute;
    width: 50px;
    height: 100px;
    left: 200px;
    top: 240px;
    z-index: 1;
}

.chaticon{
    position: absolute;
    width: 50px;
    height: 100px;
    left: 270px;
    top: 240px;
    z-index: 1;
}

.shareindex{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 48px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    z-index: 1;

    color: #000000;
}

.lentindex{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 117px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    z-index: 1;

    color: #000000;
}

.qnaindex{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 200px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    z-index: 1;

    color: #000000;
}

.chatindex{
    position: absolute;
    width: 80px;
    height: 12px;
    left: 275px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    z-index: 1;

    color: #000000;
}


.Userbox{
    position: absolute;
    width: 375px; 
    height: 180px; 
    Top: 63px;
    background: #F8B2AA;
}

.Usericon{
    position: absolute;
    width: 50px;
    height: 100px;
    left: 25px;
    align-items: center;
    top: 42px;
}

.rectangle {
    box-sizing: border-box;

    position: absolute;
    width: 304px;
    height: 95px;
    left: 36px;
    top: 220px;
    
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #C4C4C4;
  }

.sharetext {
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 344px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;
    
    color: #000000;
    

}

.lenttext {
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 471px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;
    
    color: #000000;
    
}

.line1 {
    position: absolute;
    width: 375.03px;
    height: 1.24px;
    left: -0.03px;
    top: 450.99px;
    
    border: 1px solid #FFE4E1;
    transform: rotate(0.19deg);
}

.line2 {
    position: absolute;
    width: 375.03px;
    height: 1.24px;
    left: 0px;
    top: 581px;
    
    border: 1px solid #FFE4E1;
    transform: rotate(0.19deg);
}

.pwtext{
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 595px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;
    
    color: #000000;
    
}

.infotext{
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 650px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.connecttext{
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 715px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;
    
    color: #000000;
    
}

.withdrawtext{
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 775px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.line3 {
    position: absolute;
    width: 375.03px;
    height: 1.24px;
    left: 0px;
    top: 640px;
    
    border: 1px solid #FFE4E1;
    transform: rotate(0.19deg);
}

.line4 {
    position: absolute;
    width: 375.03px;
    height: 1.24px;
    left: 0px;
    top: 700px;
    
    border: 1px solid #FFE4E1;
    transform: rotate(0.19deg);
}

.line5 {
    position: absolute;
    width: 375.03px;
    height: 1.24px;
    left: 0px;
    top: 760px;
    
    border: 1px solid #FFE4E1;
    transform: rotate(0.19deg);
}
