.Mainbox { 
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.Title{
    position: absolute;
    width: 140px;
    height: 30px;
    left: 131px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.Backicon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 28px;
    align-items: center;
    top: 28px;
}

.Searchicon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 320px;
    align-items: center;
    top: 28px;
}

.Userbox{
    position: absolute;
    width: 375px; 
    height: 180px; 
    Top: 70px;
    background: #F8B2AA;
}

.Usericon{
    position: absolute;
    width: 50px;
    height: 100px;
    left: 25px;
    align-items: center;
    top: 42px;
}

.rectangle {
    position: absolute;
    width: 235px;
    height: 76px;
    top: 210px;
    left: 40px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
  }

.sharetext {
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 300px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;

    color: #000000;

}

.lenttext {
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 415px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;

    color: #000000;
}

.line1 {
    position: absolute;
    width: 300px;
    height: 0px;
    left: 0px;
    top: 402spx;
    border: #FFE4E1;
    border-style: solid;
    border-width: 1px;
}

.line2 {
    position: absolute;
    width: 300px;
    height: 0px;
    left: 0px;
    top: 522px;
    border: #FFE4E1;
    border-style: solid;
    border-width: 1px;
}

.pwtext{
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 525px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;

    color: #000000;
}

.infotext{
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 565px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;

    color: #000000;
}

.connecttext{
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 602px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;

    color: #000000;
}

.withdrawtext{
    position: absolute;
    width: 102px;
    height: 13px;
    left: 19px;
    top: 640px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;

    color: #000000;
}

.line3 {
    position: absolute;
    width: 300px;
    height: 0px;
    left: 0px;
    top: 562px;
    border: #FFE4E1;
    border-style: solid;
    border-width: 1px;
}

.line4 {
    position: absolute;
    width: 300px;
    height: 0px;
    left: 0px;
    top: 602px;
    border: #FFE4E1;
    border-style: solid;
    border-width: 1px;
}

.line5 {
    position: absolute;
    width: 300px;
    height: 0px;
    left: 0px;
    top: 642px;
    border: #FFE4E1;
    border-style: solid;
    border-width: 1px;
}
