.Mainbox {
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.backIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 28px;
    color: #FF897B;
    align-items: center;
}

.Title{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 141px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.registerBtn{
    position: absolute;
    top: 90px;
    left: 240px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #FF897B;
    border-style: none;
    border-color: white;
}

.registerTitle{
    position: absolute;
    top: 160px;
    left: 30px;
    width: 250px;
    height: fit-content;
    padding: 5px;
    outline: none;
    border: none;
    background-color: unset;
    border-bottom: 2px solid #FF897B;
    font-size: 24px;
}

.contentTitle{
    position: absolute;
    top: 220px;
    left: 30px;
    width: fit-content;
    height: fit-content;
    margin: unset;
    background-color: unset;
    font-family: Roboto;
    font-size: 20px;
    color: #FF897B;
}

.registerContent{
    position: absolute;
    top: 260px;
    left: 30px;
    width: 250px;
    height: 300px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: unset;
    border: 2px solid #FF897B;
    resize: none;
    font-size: 14px;
}