.Mainbox {
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.backIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 28px;
    color: #FF897B;
    align-items: center;
}

.Title{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 141px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.registerBtn{
    position: absolute;
    width: 65px;
    height: 25px;
    left: 292px;
    top: 87px;
    
    background: #FF897B;
    border-radius: 5px;
    border: none;
    color: white;
}

.Itembox{
    position: absolute;
    width: 375px; 
    height: 300px; 
    Top: 120px;
    left: 0px;
    background: unset;
}

.Itemicon{
    position: absolute;
    width: 310px;
    height: 150px;
    left: 35px;
    top: 7px;
}

.itemChangeBtn{
    position: absolute;
    bottom: 5px;
    right: 37px;
    top: 210px;
    color: grey;
}

.imageDrop{
    position: absolute;
    top: 150px;
    left: 38px;
    height: 300px;
}

.registerTitle{
    position: absolute;
    top: 445px;
    left: 30px;
    width: 300px;
    height: fit-content;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #FF897B;
    font-size: 24px;
}

.registerContent{
    position: absolute;
    top: 520px;
    left: 30px;
    width: 300px;
    height: 270px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;

    outline: none;
    border: 1px solid #FF897B;
    border-radius: 5px;
    resize: none;
}