.Mainbox {
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.backIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 28px;
    color: #FF897B;
    align-items: center;
}

.Title{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 161px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.chatListBox {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 375px;
    height: fit-content;
    list-style: none;
}

.renderItemBox{
    position: relative;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 60px;
    border-bottom: 1px solid #c4c4c4;
}

.renderUImage{
    position: absolute;
    top: 10px;
    left: 20px;

}

.renderUId{
    position: absolute;
    bottom: 5px;
    left: 24px;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 8px;
    text-align: center;
}

.renderComment{
    position: absolute;
    top: 10px;
    left: 60px;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
}

.renderDate{
    position: absolute;
    top: 40px;
    right: 20px;
    height: fit-content;
    color: #c4c4c4;
    font-size: 8px;
    font-weight: bold;
    word-break: break-all;
}


.registerBox{
    position: fixed;
    bottom: 100px;
    left: 30px;
    width: 320px;
    height: 55px;
    background-color: unset;
    border: 2px solid #FF897B;
    border-radius: 10px;
}

.registerText{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 210px;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #FF897B;
}

.registerBtn{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #FF897B;
    border-style: none;
    border-color: white;
}