.Mainbox {
    position: fixed;
    width: 300px; 
    height: 55px;
    background: #FFE4E1;
}

.backIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 18px;
    align-items: center;
    color: #FF897B;
}

.Title{
    position: absolute;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    align-items: center;
    width: fit-content;
    height: fit-content;
    Left: 140px;
    Top: -4px;
}

.registerBox{
    position: fixed;
    bottom: 80px;
    left: 20px;
    width: 280px;
    height: 55px;
    background-color: unset;
    border: 2px solid #FF897B;
    border-radius: 10px;
}

.registerText{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 180px;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #FF897B;
}

.registerBtn{
    position: absolute;
    top: 20px;
    left: 210px;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #FF897B;
    border-style: none;
    border-color: white;
}

.chatListBox {
    position: absolute;
    top: 60px;
    left: 8px;
    width: 300px;
    height: 400px;
}

.renderItemBox{
    position: relative;
    top: -14px;
    left: -40px;
    width: 300px;
    height: fit-content;
    margin-bottom: 5px;
    background-color: unset;
}

.renderItem{
    position: relative;
    top: 10px;
    left: 25px;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
}