.Mainbox {
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.backIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 28px;
    color: #FF897B;
    align-items: center;
}

.Title{
    position: absolute;
    width: 140px;
    height: 30px;
    left: 131px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.searchIcon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 320px;
    align-items: center;
    top: 28px;
}

.itemList{
    position: absolute;
    width: 270px;
    height: fit-content;
    left: 20px;
    top: 80px;
    list-style: none;
}

.linkStyle{
    color: black;
}

.renderItemBox{
    position: relative;
    top: 10px;
    left: 0px;
    width: 270px;
    height: fit-content;
    margin-bottom: 20px;
    background-color: unset;
}

.renderInBox{
    position: relative;
    left: 20px;
    width: 240px;
    height: 30px;
    border-bottom: 2px solid #FFE4E1; 
}

.renderItem{    
    width: fit-content;
    height: fit-content;
    font-size: 17px;
    font-weight: bold;
    background-color: unset;
}