.Mainbox { 
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.Title{
    position: absolute;
    width: 66px;
    height: 29px;
    left: 154px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.searchIcon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 320px;
    align-items: center;
    top: 28px;
}

.totalListBox {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 375px;
    height: fit-content;
    list-style: none;
}

.cateBox{
    position: relative;
    top: 0px;
    left: 0px;
    width: 373px;
    height: 160px;
    border: 1px solid #FF897B;
}

.itemCate{
    position: absolute;
    top: 20px;
    left: 20px;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: grey;
}

.itemBox{
    position: absolute;
    top: 60px;
    left: 20px;
    width: 320px;
    height: 80px;
}

.itemMore{
    position: absolute;
    width: 65px;
    height: 20px;
    right: 30px;
    top: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    background-color: unset;
    color: #c4c4c4;
    font-size: 14px;
    text-align: center;
}