.Mainbox { 
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.Title{
    position: absolute;
    width: 66px;
    height: 29px;
    left: 154px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.searchIcon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 320px;
    align-items: center;
    top: 25px;
}

.itemMore{
    position: absolute;
    width: 80px;
    height: 25px;
    left: 290px;
    top: 90px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    background-color: unset;
    color: #c4c4c4;
    font-size: 16px;
    text-align: center;
}

.card{
    position: relative;
    width: 50px;
    height: 420px;
    top: 145px;
    font-family: 'Roboto';
    font-size: 20px;
}