.Mainbox { 
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.backIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 28px;
    color: #FF897B;
    align-items: center;
}

.Title{
    position: absolute;
    width: 140px;
    height: 30px;
    left: 131px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.block{
    position: absolute;
    top:70px;
    width: 375px;
    height: 60px;
}

.searchStyle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 60px;

}