.Mainbox {
    left: 0px;
    top: -20px;
    width: 300px;
    height: 55px;
    background: #FFE4E1;
}

.backIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 28px;
    color: #FF897B;
    align-items: center;
}

.Title{
    position: absolute;
    Left: 125px;
    top: 5px;
    Width: fit-content;
    height: fit-content;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    align-items: center;
}

.notifyBox{
    position: absolute;
    width: 270px;
    height: 270px;
    left: 20px;
    top: 100px;
}

.questionBox{
    position: absolute;
    width: 270px;
    height: 270px;
    left: 20px;
    top: 400px;
}

.boxTitle{
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: unset;
    background-color: unset;
    font-family: Roboto;
    font-size: 25px;
    color: #FF897B;
}

.itemList{
    position: absolute;
    top: 32px;
    width: 270px;
    height: 220px;
}

.itemMore{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 20px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #FF897B;
    background-color: unset;
    border-style: none;
}

.renderItemBox{
    position: relative;
    top: 10px;
    left: -40px;
    width: 270px;
    height: fit-content;
    margin-bottom: 20px;
    background-color: unset;
}

.renderInBox{
    position: relative;
    left: 30px;
    width: 240px;
    height: 30px;
    border-bottom: 2px solid #FFE4E1; 
}

.renderItem{    
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    background-color: unset;
}

.startQuestionBox{
    position: absolute;
    bottom: 100px;
    left: 70px;
    width: 200px;
    height: 60px;
}

.startQuestion{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 50px;
    font-family: Roboto;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    background-color: #FF897B;
}

.speakerIcon{
    position: absolute;
    left: 30px;
    top: 8px;
    width: fit-content;
    height: fit-content;
}

.runningText{
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 10px;
    color: #FF897B;
}