/* 네비바 하단 고정 밑 세로 길이 설정 */
.wrapper {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    color: #C4C4C4;
  }
  
  /* nav태그 아래의 자식들을 수평정렬하기 위한 설정 */
  nav {
    overflow: hidden;
    border-top: 3px solid #FFE4E1;
    width: 320px;
    height: 55px;
  }
  /* nav태그 아래의 div태그들을 수평정렬 및 세로길이 설정 */
  nav > div {
    /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
   width: 300px;
   float: left;
   text-align: center;
    
  
    /* 세로길이 설정 */
    height: 45px;
    line-height: 40px;
  }

.Icon1 {
    position: absolute;
    left: 50px;
}

.Icon2 {
    position: absolute;
    left: 100px;
    color: #C4C4C4;
}

.Icon3 {
    position: absolute;
    left: 150px;
}

.Icon4 {
    position: absolute;
    left: 200px;
}

.Icon5 {
    position: absolute;
    left: 250px;
}


/*.format
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
}*/
  
