.box { 
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFE4E1;
}

.Title{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 141px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.165px;
    
    color: #000000;
}

.RegisterBtn{
    position: absolute;
    width: 65px;
    height: 25px;
    left: 292px;
    top: 87px;
}

.Backicon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 28px;
    align-items: center;
    top: 28px;
}

.Searchicon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 320px;
    align-items: center;
    top: 28px;
}

.WriteTitle{
    position: absolute;
    width: 300px;
    height: 28px;
    left: 38px;
    top: 445px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: -0.165px;
    border-top: none;
    border-left: none;
    border-right: none;
    
    color: #C4C4C4;
}

/*
    position: absolute;
    width: 300px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 11px;
    text-align: left;
    letter-spacing: -0.165px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #979797;
*/

.info {
    position: absolute;
    width: 300px;
    height: 248px;
    left: 38px;
    top: 500px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.165px;

    color: #000000;
}