.box { 
    width: 300px; 
    height: 55px; 
    Top:-20px;
    background: #FFE4E1;
}

.Title{
    position: absolute;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    align-items: center;   
    Width:200px;
    height: 40px;
    Left: 125px;
    Top: 3px;
}

.RegisterBtn{
    position: relative;
    top: -10px;
    Width:65px;
    height: 23px;
    Left:235px;
    background: #FF897B;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Roboto;
}

.Backicon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 28px;
    align-items: center;
    top: 28px;
}

.Searchicon{
    position: absolute;
    color: #FF897B;
    width: 240px;
    height: 87px;
    left: 270px;
    align-items: center;
    top: 28px;
}

.WriteTitle{
    position: absolute;
    width: 300px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 11px;
    text-align: left;
    letter-spacing: -0.165px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #979797;
}